.header {
    &.acc-header {
        background-color: #fff;
        border-bottom: 0.0625rem solid rgba(128, 128, 128, 0.2);
        background-image: none;
        .header__inner {
            width: 66%;
            max-width: 1400px;
            padding: 0 32px;
            height: 64px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            height: 40%;
            padding-left: 20px;
            svg {
                height: 100%;
                fill: rgb(229, 9, 20);
            }
        }
    }

    .caret {
        border-top-color: #000;
    }
}

.acc {
    &-main {
        margin-top: 64px;
        background-color: rgb(250, 250, 250);

        &.membership {
            .acc-con-list:first-of-type {
                position: relative;
                padding-top: 15px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(to left, rgb(229, 9, 20), rgb(141, 34, 88), rgb(68, 57, 142), rgb(60, 60, 148));
                    width: 100%;
                    height: 0.5rem;
                }
            }
        }
    }
    &-main-inner {
        min-height: calc(100vh - 64px);
        padding: 24px 32px 80px;
        display: flex;
        width: 66%;
        max-width: 1400px;
        margin: 0 auto;
    }
    &-left {
        width: 30%;
        margin-right: 32px;
        .acc-nav-list {
            li {
                &:first-child {
                    margin-bottom: 30px;
                    a {
                        font-size: 14px;
                        transition: background-color 0.3s ease;

                        svg {
                            display: inline-block;
                            width: 1.5em;
                            height: 1.5em;
                        }
                    }
                }

                > a,
                > button {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    height: 40px;
                    padding: 6px 16px;
                    transition: background-color 0.2s ease;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.2);
                        border-radius: 4px;
                    }
                }

                + li {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &-right {
        width: 70%;

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 16px;
        }
        .link-clear {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.5px solid rgba(128, 128, 128, 0.7);
            border-radius: 3px;
            color: rgb(193, 17, 25);
            font-size: 16px;
            font-weight: 500;
            height: 48px;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: rgba(128, 128, 128, 0.1);
            }
        }
    }
    &-con-list {
        border-radius: 8px;
        border: 0.0625rem solid rgba(128, 128, 128, 0.4);
        background-color: rgb(255, 255, 255);
        padding: 0 16px;
        margin-bottom: 32px;
        overflow: hidden;

        li {
            padding: 12px 8px;
            + li {
                border-top: 1.5px solid rgba(128, 128, 128, 0.2);
            }

            a {
                padding: 12px 0px;
                display: flex;
                align-items: center;
                min-height: calc(3.5em);
                gap: 10px;

                > svg {
                    margin-right: 10px;
                }

                .con-inner {
                    flex: 1;

                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.7);
                        padding-top: 4px;
                    }
                }

                .user-img {
                    border-radius: 50%;
                }

                .tag {
                    background-color: rgb(188, 216, 255);
                    color: rgba(0, 0, 0, 0.7);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px 5px;
                    border-radius: 3px;
                    font-size: 14px;
                    font-weight: 500;
                }

                &:hover {
                    border-radius: 2px;
                    background-color: rgb(242, 242, 242);
                }
            }
        }

        .membership {
            padding: 10px 24px;
            border-radius: 0 24px 24px 0;
            background: linear-gradient(to left, #e50914, #8d2258, #44398e, #3c3c94);
            margin: 10px auto 16px -24px;
            display: inline-block;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }

        .con-text {
            h4 {
                font-size: 20px;
                font-weight: 500;
            }

            p {
                font-size: 16px;
                line-height: 1.8;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}
