// common
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 99;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px var(--inner);
        height: 68px;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: -0.04em;
        margin-right: 25px;
        color: rgb(229, 9, 20);
    }

    .gnb {
        display: flex;
        margin-left: 20px;
        column-gap: 20px;

        &-mo {
            display: none;
        }

        &__btn {
            display: flex;
            align-items: center;
        }

        a {
            font-size: 14px;
            font-weight: 500;
            color: #e5e5e5;
            transition: color 0.4s;

            &:hover {
                color: #b3b3b3;
            }
        }
    }

    .util {
        display: flex;
        column-gap: 20px;
    }

    .search {
        display: flex;

        &__form {
            background: #000;
            display: flex;
            align-items: center;
            padding: 5px;
            border: 1px solid #fff;
            font-size: 14px;

            input {
                padding: 0px 10px;
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .profile {
        display: flex;
        align-items: center;

        img {
            border-radius: 5px;
        }
    }

    .caret {
        display: block;
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        height: 0;
        margin-left: 10px;
        transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
        width: 0;
    }

    .pf {
        &-wrap {
            position: relative;
            &:hover {
                .caret {
                    transform: rotate(180deg);
                }
            }
        }
        &-detail {
            font-size: 14px;
            position: absolute;
            top: 100%;
            margin-top: 10px;
            right: 0;
            width: 220px;
            background: rgba(0, 0, 0, 0.9);
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0.125rem 0.5rem;
        }
        &-list {
            padding: 20px 15px;
            li a {
                display: flex;
                align-items: center;
                gap: 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
            li + li {
                padding-top: 12px;
            }
            svg {
                padding-top: 1px;
                padding-bottom: 1px;
                color: #b3b3b3;
            }
        }
    }
    .btn-logout {
        width: 100%;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
}

@media (max-width: 1280px) {
    .header {
        .logo {
            font-size: 20px;
            margin-right: 10px;
        }

        .gnb {
            column-gap: 3%;

            li {
                flex-shrink: 0;
            }

            a {
                font-size: clamp(12px, 1.25vw, 16px);
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__inner {
            height: 50px;
        }

        .search {
            position: relative;
            &__form {
                position: absolute;
                top: 0;
                right: 0;
                width: 200px;
                input {
                    width: 100%;
                }
            }
        }

        .gnb {
            display: none;

            &-mo {
                display: block;
            }

            &__btn {
                > button {
                    font-size: 14px;
                }
            }
        }
    }
}
